<head>
  <title>Game Application by Pentagon</title>
  <style>

  </style>
</head>

<body>
  <h1> [[${user}]] Score : [[${score}]]</h1>
  <br>
  <div>
    <table border="1">
      <thead>
        <th>順位</th>
        <th>名前</th>
        <th>スコア</th>
      </thead>
      <tbody id="ranking_list">
        <span th:if="${rank}">
          <!--クエリパラメータでIDを渡して購入処理を実行する-->
          <tr th:each="ranking,stat:${rank}">
            <td>[[${stat.index}+1]]</td>
            <td>[[${ranking.name}]]</td>
            <td>[[${ranking.score}]]</td>
          </tr>
        </span>
      </tbody>
    </table>
  </div>
  <br>
  <a href="/start"><button>Back To Main Menu</button></a>
</body>
